<table id="app" class="state">
  <thead>
    <tr>
      <th>App</th>
      <th>User</th>
      <th>Framework</th>
      <th>Services</th>
      <th>Last updated</th>
    </tr>
  </thead>
  <tbody>
    <tr class="row-template">
      <td class="titlefont"><a id="app-name" href="URL">NAME</a></td>
      <td class="user-email">EMAIL</td>
      <td class="app-framework">FRAMEWORK</td>
      <td class="app-services">
        <div>
          <a class="service-template" title="ALIAS">NAME</a>
        </div>
      </td>
      <td class="last-updated">
        <tt>
          <span class="sortable-date" style="display: none;">DATE</span>
          <span class="visible-date">DATE</span>
        </tt>
      </td>
    </tr>
  </tbody>
</table>
