<div class="section_title">
  <h2>Applications</h2>
  <p>Applications currently running on the cloud.</p>
</div>

<div id="apps">
<table id="app" class="state">
  <thead>
    <tr>
      <th>App</th>
      <th>User</th>
      <th>Framework</th>
      <th>Services</th>
      <th>Mem</th>
      <th>Instances</th>
      <th>Last updated</th>
    </tr>
  </thead>
  <tbody>
    <tr class="row-template">
      <td class="titlefont"><a id="app-name" href="URL">NAME</a></td>
      <td class="user-email">EMAIL</td>
      <td class="app-framework">FRAMEWORK</td>
      <td class="app-services">
          <a class="service-template" title="ALIAS">NAME</a>
      </td>
      <td class="app-memory">MEMORY</td>
      <td class="app-instances">INSTANCES</td>
      <td><small><tt class="last-updated"></tt></small></td>
    </tr>
  </tbody>
</table>
</div>
