<div style="height: 400px;">
  <i><p style="padding: 1em; width: 75%;"> This tab displays recent
      activity in the cloud components <b>in real-time</b> as they
      occur. <small>Although only a selected events are displayed at
      the moment, other components - in addition to displaying of
      stats based on aggregation of events across the stream - will be
      supported in near
      future. <a href="https://github.com/ActiveState/horizon#readme"
      target="_blank">Learn more.</a><small>
  </p></i>

  <p>
    <img src="/img/ajax-loader.gif" />
  </p>

  <ul id="events">
    <li class="event-template">RECORD-HTML</li>
  </ul>
</div>
