<div style="height: 400px;">
  <i><p style="padding: 1em; width: 75%;">
      This tab displays recent activity in the cloud components <b>in
      real-time</b> as they occur.<small>Only DEA start events are
      being shown now, but other components will be supported in
      future - in addition to displaying of stats based on aggregation
      of events across the
      stream. <a href="https://github.com/ActiveState/horizon#readme"
                 target="_blank">Learn
      more.</a><small>
  </p></i>

  <ul id="events">
    <li class="event-template">EVENT</li>
  </ul>
</div>
