<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Stackato Admin Dashboard</title>
    
    <link rel="stylesheet" href="http://closure-library.googlecode.com/svn/trunk/closure/goog/css/tab.css">
    <link rel="stylesheet" href="http://closure-library.googlecode.com/svn/trunk/closure/goog/css/tabbar.css">
    <link rel="stylesheet" href="/css/style.css">

    <script src="/cljs/bootstrap.js"></script>
    <script src="/js/modernizr.js"></script>

  </head>

  <body>
    <header>
      <h1>Stackato Admin Dashboard</h1>
      <div id="hm-apps" class="req_websockets">Loading current application status...</div>
    </header>
        
    <!-- Google TabBar -->
    <div id="content">
      
      <!-- List of tab content-->
      <div id="maintab_content_wrapper">
        <div class="content_wrapper">
          <div id="maintab_content" class="goog-tab-content">
            <!-- `id` should be of the form "<tab-title>_content" -->
            <div id="Cloud_events_content"
                 style="display: none;">
              CLOUD events
            </div>
    
            <div id="Apps_content"
                 style="display: none;">
              Apps table
              <!-- See apps-table.html -->
            </div>
    
            <div id="Users_content"
                 style="display: none;">
              Users content
            </div>
          </div>
        </div>
      </div>
        
        <!-- List of tabs -->
      <div id="sidebar_wrapper">
        
        <a class="stackato_logo" target="_new"
         href="http://www.activestate.com/cloud">
        <img src="/img/stackato.png" alt="Stackato"></a>
        
        <div class="tab_wrapper">
          <div id="maintab" class="goog-tab-bar goog-tab-bar-left">
            <!-- `id` must match the tab title; used in JS -->
            <div id="Cloud_events" class="goog-tab">Cloud events</div>
            <div id="Apps" class="goog-tab">Apps</div>
            <div id="Users" class="goog-tab">Users</div>
          </div>
        </div>
      </div>
        
      <div id="goog-tab-bar-clear"></div>
      
    </div>

    <!-- Debug -->
    <div id="log" style="display: none">
      <h4>DEBUG</h4>
    </div>

    <footer>
      <div class="content">
        <span id="cloud-mode"></span>
        | Dashboard Version: <small id="horizon-release"></small>
      </div>
    </footer>

    <script>
      /* Hide real-time elements if Firefox.
        Modernizr thinks it's supports websockets, but it doesn't support our implementation */
      if ('MozBinding' in document.documentElement.style) {
        document.getElementsByTagName('html')[0].className += ' no-websockets';
      }
      window.p = function(x) { console.log(x); return x; }
      horizon.core.init();
    </script>
  </body>
</html>
