<table id="users" class="state">
  <thead>
    <tr>
      <th>User</th>
      <th>Registered</th>
      <th>Apps</th>
    </tr>
  </thead>
  <tbody>
    <tr class="row-template">
      <td class="user-email titlefont">USER-EMAIL</td>
      <td class="user-registered">
        <tt><small>
          <span class="sortable-date" style="display: none;">DATE</span>
          <span class="visible-date">DATE</span>
        </small></tt>
      </td>
      <td class="user-apps">NO-OF-APPS</td>
    </tr>
  </tbody>
</table>
