body { 
  font-family: 'PT Sans Caption', sans-serif;
}

a, a:hover { text-decoration: none; }
a:hover {text-decoration: underline;}
ul#events li {
  list-style-type: none;
  padding: 1em;
}

table#all-users tr.inactive-user {
    font-size: small;
}

table#all-users td {
    padding: 0.5em;
}

table#all-users th {
    background-color: #88c6d3;
}

table#all-users th:hover {
    cursor: pointer;
    opacity: 0.7;
}

th.goog-tablesorter-sorted {
    background-color: #eef !important;
}

th.goog-tablesorter-sorted-reverse {
    background-color: #fee !important;
}

header {
  margin-bottom: 30px;
}
header h1 { 
  border-bottom: 3px solid brown;
}

footer {
  text-align: left;
  border-top: 3px solid gray;
  margin-top: 30px;
  color: #666666;
  background-color: #1F1F1F;
  padding: 5px;
}
footer a, footer a:visited, footer a:active {
  color: #666666;
}

