body { 
  font-family: 'PT Sans Caption', sans-serif;
  margin: auto;
  background-color: #fefefe;
}

a, a:hover { text-decoration: none; }
a:hover {text-decoration: underline;}
ul#events li {
  list-style-type: none;
  padding: 0.4em;
}

table.state td {
    padding: 0.2em;
}

table.state th {
    background-color: #cccccc;
}

table.state th:hover {
    cursor: pointer;
    opacity: 0.7;
}

.hidden {
    background-color: red;
}

.goog-tab-content {
    margin: 0;
    border: 1px solid #6b90da;
    border-top: 0;
    padding: 4px 8px;
    background: #fff;
    overflow: auto;
}

th.goog-tablesorter-sorted {
    background-color: #eef !important;
}

th.goog-tablesorter-sorted-reverse {
    background-color: #fee !important;
}

header {
  margin-bottom: 20px;
}
header p {
  color: gray;
}

footer {
  text-align: left;
  border-top: 3px solid gray;
  margin-top: 30px;
  color: #666666;
  background-color: #1F1F1F;
  padding: 5px;
}
footer a, footer a:visited, footer a:active {
  color: #666666;
}

